.badge-blue {
    background-color: #d6e6fd;
}
.badge-green {
    background-color: #c6eed2;
}
.badge-yellow {
    background-color: #ffe9c6;
}
.badge-purple {
    background-color: #ebddf7;
}
.badge-pink {
    background-color: #fdd9dc;
}
.badge-softCyan {
    background-color: #d1f0f1;
}
.badge-darkBlue {
    background-color: #c3c6f1;
}
.badge-darkPink {
    background-color: #f9c4d2;
}
.badge-softBlue {
    background-color: #E6E9F3;
}
.badge-riceFlower {
    background-color: #F0FFE9;
}
